{% extends "base.html.twig" %}


{% block body %}
<section id="coverhome" class="min-vh-100">
  <p></p></br>
{# <div class="container" style="height: 500px;">
  <h1 id="lemotionvin" class="display-4 text-center">L'émotion du vin</h1>
</div> #}
<div id="imageaccueilemotion" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img id="imgemotion" class="d-block w-100" src="{{ asset('assets/img/lemotionduvin1024.png') }}" alt="First slide">
    </div>
  </div>
</div>
</section>

<div class="jumbotron">
  <h1 class="display-4 text-center">Bienvenue chez Vitis Epicuria</h1>
  <hr class="my-4">
  <p class="lead text-center">Vitis Epicuria, Maison de Négoce Spécialiste Vins Fins et Spiritueux à Bordeaux depuis 2004.</br>
Vitis Epicuria, Wine and Spirits Specialist Trading House since 2004</p>
  </p>
<div class="container">
<div class="row">
<div class="col-6 text-justify">
<p>Depuis 2004, Vitis Epicuria, implanté au cœur du Bordelais, vous propose de très nombreuses références de grands crus viticoles. Outre des vins de renom en provenance de France et des grandes régions viticoles mondiales, nous vous proposons une conciergerie privée : hébergement de bouteilles, placement de grands crus, optimisations de caves, dépôt-vente… N’hésitez pas à nous contacter pour des demandes spécifiques. La satisfaction de nos clients découle de la sélection et de la fidélisation des meilleurs viticulteurs.</p>
</div>
<div class="col-6 text-justify">
<p>Since 2004, Vitis Epicuria, located in the heart of Bordeaux, has been offering you a large number of references of great wine. In addition to renowned wines from France and the world’s major wine-growing regions, we offer you a private concierge service: bottle accommodation, placement of great wines, cellar optimisations, depot-sales… Do not hesitate to contact us for specific requests. The satisfaction of our customers comes from the selection and retention of the best winegrowers.</p>
</div>
</div></div>
</div>

    
{% include 'pages/footer.html.twig' %}
{% endblock %}


