{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if articles.filename %}
                    <img src="{{ asset("assets/images/articles/" ~ articles.filename) }}" 
                    alt="card-img-top" style="width: 100%; height: auto;">
                    {% endif %}
                </div>
                <div class="col-md-12 mt-4">
                    <h1 class="text-center">{{ articles.title }}</h1>
                </div>
                <div class="col-md-12 mt-4">
                    <p class="text-justify">{{ articles.description | nl2br }}</p>
                </div>
    </div>

{% include 'pages/footer.html.twig' %}
{% endblock %}