{% extends "base.html.twig" %}

{% block title 'Nos Vins D\'exeption' %}  

{% block body %}
    <div class="nosvinsdexeption mt-4 mb-4">
        <p class="text-center" style="font-size: 2em">Retrouvez tous nos vins Primeurs ici :</p>
        <p class="text-center" style="font-size: 1em">Find our « primeur » wines here: :</p>

    </div>

    <div>
        <a href="https://www.vitis-epicuria.com/fr/4187-primeurs" target="_blank"><img class="logovitisexeption mt-4 mb-4" src="{{ asset('assets/img/logo_vitis.png') }}" class="navbar-brand" alt="Logo" style="width:350px;"></a>
    </div></br>

    <div class="container">
<div class="jumbotron">
  <div class="row">
    <div class="col-sm">
    <h6 class="text-uppercase font-weight-bold">QU’EST-CE Q’UN PRIMEUR ?</h6>
<p>Un vin primeur est un vin jeune destiné à être consommé dans les mois suivant la récolte. Par exemple, le beaujolais primeur ou « beaujolais nouveau » peut être bu à partir de la fin du mois de novembre. Si cette définition est valable dans toutes les régions viticoles françaises, à Bordeaux l’expression « vins primeurs » revêt une autre acception. En effet, les grands crus classés et assimilés (5% à 10% de la production bordelaise) sont mis en vente alors que les vins ne sont pas encore « définitifs » ; ils doivent encore être élevés 18 mois en barriques dans les chais des châteaux. Cette pratique, qui existe à Bordeaux depuis plus de deux siècles, s’appelle la « vente en primeur ». Elle s’effectue du château vers le négociant, qui revendra ensuite aux particuliers ou à d’autres distributeurs comme les sites Internet marchands.</br>

Si les châteaux s’assurent par ce biais une rentrée immédiate de trésorerie, les acheteurs peuvent aussi espérer un avantage : obtenir une décote par rapport au prix final du vin lorsqu’il sera mis sur le marché en bouteilles deux ans plus tard. Cette décote est considérée comme intéressante si elle dépasse -30%. C’était souvent le cas, voire bien plus, au début des années 1980, mais ce bénéfice s’est réduit au fil des millésimes. Tandis que certains acheteurs se procurent les vins pour leur cave personnelle, de nombreux autres spéculent en revendant les bouteilles aux enchères, une tendance en forte hausse depuis le mythique 2000.</br>

Compte tenu de ces enjeux, on comprend l’immense intérêt que suscitent les fameuses dégustations « en primeur » opérées sur place à Bordeaux par de nombreux critiques du monde entier, car leurs notes seront décisives pour le prix de chaque bouteille.</br>

Au-delà du Bordelais, certains grands domaines de Bourgogne et du Rhône proposent eux aussi leurs vins en primeurs depuis quelques années.</p></br>  </div>
    </div>
</div>
<div class="jumbotron">
    <div class="col-sm">
    <h6 class="text-uppercase font-weight-bold">WHAT IS A « PRIMEUR » ?</h6>
<p>A primeur wine is a young wine intended to be drunk in the months following the harvest. For example, Beaujolais Nouveau or « Beaujolais Nouveau » can be drunk from the end of November. While this definition is valid in all French wine-growing regions, in Bordeaux the expression « primeur wines » has a different meaning. Indeed, the great classified growths and assimilated (5% to 10% of Bordeaux production) are put on sale while the wines are not yet « final »; they must still be aged for 18 months in barrels in the cellars of the châteaux.</br>

This practice, which has existed in Bordeaux for more than two centuries, is called « primeur sales ». It is carried out from the castle to the merchant, who will then sell it to individuals or other distributors such as merchant websites.</br>

If the châteaux ensure an immediate cash inflow in this way, buyers can also expect an advantage: to obtain a discount compared to the final price of the wine when it is put on the market in bottles two years later. This discount is considered interesting if it exceeds -30%. This was often the case, or even much more, in the early 1980s, but this benefit has declined with each vintage.</br>

While some buyers buy the wines for their personal cellars, many others speculate by selling the bottles at auction, a trend that has been rising sharply since the mythical 2000.</br>

Given these challenges, we can understand the immense interest aroused by the famous « en primeur » tastings held in Bordeaux by many critics from all over the world, because their ratings will be decisive for the price of each bottle.</br>

Beyond Bordeaux, some of the major estates in Burgundy and the Rhône have also been offering their wines as Futures in recent years.</p></br>    </div>
  </div>
</br>


{% include 'pages/footer.html.twig' %}
    
{% endblock %}